/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	color: black

}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	font-size: 5em;
	color:rgb(152,173,166);
	font-family: Baskerville;
	font-weight: normal;
	margin: 0 0 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc
}

h1 a {
	color:rgb(152,173,166);
	font-weight: bold;
	text-decoration: none

}

h1 a:active {
	outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

a:hover {
	color: rgb(111,127,122);
}

#bigimage {
	border: 5px solid;
	border-color: rgb(152,173,166)

}

h2 {
	font-size: 2em;
	color:rgb(111,127,122);
	font-weight: bold;
	margin-top: .83em;
	margin-bottom: .83em;
}

p{
	font-size: 1em;
	color:#555;
	font-weight: normal;
	margin-bottom: .20px;

}

#press {
	margin-bottom: 20px
}

#press img {
	border: 5px #ccc solid;
  padding: 1px;


}
